<div class="accounts-container">
  <div class="actions-wrapper">
    <p-button (onClick)="onNewClick()">New</p-button>
  </div>
  <div class="accounts-table-wrapper">
    <p-table
      #accountsTable
      class="accounts-table"
      [scrollable]="true"
      scrollHeight="flex"
      [value]="accounts">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 30%">Name</th>
          <th style="width: 20%">Type</th>
          <th class="align-right">Balance</th>
          <th>Currency</th>
          <th class="align-center">Show in stats?</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-account>
        <tr>
          <td>
            <div class="cell-flex-wrapper">
              <div
                class="p-inputtext p-colorpicker-preview"
                [ngStyle]="{ 'background-color': account.color }"></div>
              <span>{{ account.name }}</span>
            </div>
          </td>
          <td><i [class]="account.type.icon"></i> {{ account.type.name }}</td>
          <td class="align-right">{{ account.balance | number }}</td>
          <td>{{ account.currency.short }}</td>
          <td class="align-center">{{ account.showInStats ? 'Yes' : 'No' }}</td>
          <td>
            <div class="cell-flex-wrapper">
              <button
                pButton
                type="button"
                icon="pi pi-pencil"
                (click)="editAccount(account)"
                class="p-button-rounded p-button-text"></button>
              <button
                pButton
                type="button"
                icon="pi pi-trash"
                (click)="deleteAccount(account)"
                class="p-button-rounded p-button-text p-button-danger"></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<app-dialog-account-details
  [account]="editingAccount"
  [(visible)]="isNewAccountDialogVisible"></app-dialog-account-details>
