:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 4px;

  .label {
    display: block;
    margin: 0 4px;
  }

  .required {
    color: var(--red-500);
  }

  .error {
    display: block;
    margin: 0 4px;
    color: var(--red-500);
  }
}
