/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons.css';

html {
  font-size: 12px;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Responsive classes */

// Web View
@media only screen and (min-width: 800px) {
  .mobile {
    display: none !important;
  }
}

// Mobile View
@media only screen and (max-width: 800px) {
  .web {
    display: none !important;
  }
}
